@import '../../../styles/fonts.scss';
@import '../../../styles/variables.scss';


.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 999;
  padding: 15px 0;
  border-bottom: 1px solid #eaeaea;

  // можно добавить тень при скролле
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}


.navbarInner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

}

.logo {
  

  img {
    width: 102px;
    height: 48px;
  }

 
}

.navLinks {
  display: flex;
  gap: 56px;
  margin-left: 80px;

  a {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: 0.01em;
    color: #1a1a18;

    &:hover {
      color: var(--primary);
    }
  }
}

.actions {
  display: flex;
  align-items: center;
  gap: 15px;
}

.langSelect {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 4px 10px;
 


  img {
    width: 24px;
    height: 24px;
    border-radius: 100%;
    object-fit: cover;
  }

  select {
    border: none;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 175%;
    text-align: right;
    color: #757575;
    cursor: pointer;
    text-align: center;

    &:focus {
      outline: none;
    }
  }
}

.cta {
  border-radius: 8px;
  padding: 14px 16px;
  width: 166px;
  height: 48px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.01em;
  text-align: center;
  color: #fff;
  background: var(--primary);
    &:hover {
    background:#182f43;
    }

}

.burgerBox {
  display: flex;
  align-items: center;
  gap: 20px;
  
}

.burger {
  display: none;
  background: none;
  border: none;
  font-size: 26px;
  cursor: pointer;
  color: #1a1a18;
}

@media (max-width: 1000px) {
  .navLinks,
  .actions {
    display: none;
  }

  .logo {
    width: 108px;
    height: 50px;

    & img {
      width: 100%;
    }
  }

  .burger {
    display: block;
    width: 25px;
   
    
    
  }

  .mobileMenu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 20px 16px;
    gap: 16px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
    z-index: 998;

    a {
      font-family: var(--font-family);
      font-weight: 600;
      font-size: 16px;
      color: #1a1a18;
      text-decoration: none;

      &:hover {
        color: var(--primary);
      }
    }
  }
}
@media (max-width: 500px) {
  .navLinks {
display: none;
  }

   
   
  
  .actions {
    display: block;

  }
 

  .navbarInner {
    justify-content: space-between;
    
  }

  .burger {
    display: block;
  }

  .mobileMenu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 20px 16px;
    gap: 16px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
    z-index: 998;

    a {
      font-family: var(--font-family);
      font-weight: 600;
      font-size: 16px;
      color: #1a1a18;
      text-decoration: none;

      &:hover {
        color: var(--primary);
      }
    }
  }
}
