.partners {
    padding: 120px 0;
    text-align: center;
    
  
    .label {
      color:  #17b365;
      font-size: 14px;
      font-weight: 600;
      margin-bottom: 8px;
      text-transform: uppercase;
      font-family: var(--second-family);
      
      position: relative;
      display: inline-block;

      &::before,
      &::after {
          content: "";
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 40px; // длина линии
          height: 2px; // толщина линии
          background-color: #17b365;
      }

      &::before {
          left: -45px;
      }

      &::after {
          right: -45px;
      }
    }
  
    .title {
      font-size: 28px;
      font-weight: 700;
      margin-bottom: 32px;
      font-family: var(--second-family);
    }
  
    .slider {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #f3f7fb;
      padding: 60px 80px;
      border-radius: 12px;
      flex-wrap: wrap;
      gap: 30px;
    }
  
    .logoBox {
      flex: 1 1 100px;
      display: flex;
      justify-content: center;
     
  
      img {
        max-height: 48px;
        max-width: 161px;
        object-fit: contain;
      }
    }
  }
  