.partners {
  position: relative;
  padding-top: 120px;
  text-align: center;

  .label {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #17b365;
    margin-bottom: 16px;
    position: relative;
    display: inline-block;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 40px;
      height: 2px;
      background-color: #17b365;
    }
    &::before {
      left: -45px;
    }
    &::after {
      right: -45px;
    }
  }

  .title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 36px;
    line-height: 117%;
    letter-spacing: 0.01em;
    color: #1c1c1c;
    margin-bottom: 32px;
  }

 
  .sliderContainer {
    overflow: hidden;
    width: 100%;
   
    padding: 20px 0;
    position: relative;
    background-color: #f3f7fb; 
    border-radius: 12px;
  }

  .sliderTrack {
    display: flex;
    padding:80px 0;
    gap: 83px;

    animation: scroll-left 20s linear infinite;
  }

  
  @keyframes scroll-left {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .logoBox {
    flex: 0 0 auto; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 40px; 

    img {
      max-height: 48px;
      max-width: 161px;
      object-fit: contain;
      display: block;
    }
  }
}


@media (max-width: 900px) {
  .partners {
    .sliderContainer {
      padding: 16px 0;
    }
    .logoBox {
      margin: 0 24px;
    }
  }
}

@media (max-width: 600px) {
  .partners {
    .sliderContainer {
      padding: 12px 0;
    }
    .logoBox {
      margin: 0 16px;
    }
  }
}
