.footer {
  background: #f3f7fb;
  padding: 60px 0 40px;
  font-family: var(--font-family);

  .top {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    max-width: 1240px;
    margin: 0 auto 40px;
    padding: 0 15px;
  }

  .brand {
    flex: 0 0 280px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .logo {
      width: 188px;
      height: 88px;
      margin-bottom: 24px;
    }

    .subscribe {
      display: flex;
      width: 100%;
      margin-bottom: 12px;

      .input {
        width: 180px;
        height: 40px;
        flex: 1;
        padding: 10px 14px;
        border-radius: 8px 0 0 8px;
        border: 1px solid #ccc;
        font-size: 14px;
        outline: none;
      }

      .button {
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 14px 16px;
        width: 95px;
        height: 40px;
        background: var(--primary);
        border: none;
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 14px;
        line-height: 143%;
        letter-spacing: 0.01em;
        text-align: center;
        color: #fff;

        &:hover {
          background: #090c3b;
        }
      }
    }

    .note {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 12px;
      line-height: 133%;
      color: #97999d;
    }
  }

  .column {
    flex: 1;
    min-width: 180px;

    h4 {
      font-family: var(--font-family);
      font-weight: 600;
      font-size: 18px;
      line-height: 156%;
      color: #182f43;
      margin-bottom: 17px;

    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        margin-bottom: 8px;
        display: flex;
        align-items: center;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        color: #182f43;

        a {
          font-family: var(--font-family);
          font-weight: 400;
          font-size: 14px;
          line-height: 150%;
          letter-spacing: 0.01em;
          color: #182f43;

          &:hover {
            color: #0b0e4e;
          }
        }

        .icon {
          margin-right: 8px;
          color: #0b0e4e;
        }
      }
    }

    &.contactList li {
      margin-bottom: 16px;
    }
  }

  .bottom {
    border-top: 1px solid #ddd;
    padding-top: 16px;
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 15px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 9px;

    p {
      font-size: 13px;
      color: #777;
    }

    .social {
      display: flex;
      gap: 16px;


      a {
        color: #555;
        font-size: 18px;
        transition: color 0.3s;

        &:hover {
          color: #0b0e4e;
        }
      }
    }
  }
}

/* Адаптив */
@media (max-width: 768px) {
  .footer {
    .top {
      justify-content: center;
      text-align: center;

      .brand {
        align-items: center;
      }

      .column {
        min-width: 140px;
      }
    }

    .bottom {
      flex-direction: column;
      gap: 12px;
      text-align: center;
    }
  }
}